@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
}

.container-clock {
  text-align: center;
  background-color: #191c31;
  color: white;
   
}

.container-clock h1 {
  font-size: 2rem;
  font-weight: 10;
  border: none;
  border-radius: 20px;
}

.container-clock p {
  font-size: 1rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.wrapper {
  width: 100vw;
  height: 100vh;
  background-color: #191c31;
  color: aliceblue;
}

.navbar{
  padding: 2em;
  display: flex;
  justify-content: space-between;
  
}


.brand{
  margin-top: -8px;
  font-size: 1.5em;
  text-align: center;
}
.brand span{
  color: aqua;
  
}

.menu{
  display: flex;
  width: 50vw;
  justify-content: space-around;
}
.menu li{
  list-style: none;

}
.menu a {
  color: aliceblue;
  text-decoration: none;
  padding: 10px 20px;
}

.menu .active{
  color: aqua;
}

.menu a:hover{
  background-color: aqua;
  color: #191c31;
  transition: ease-in .4s;
  
}

.main {
  margin: 0 auto;
  width: 80vw;
  height: 80vh;
  display: grid;
  grid-template-columns:repeat(2,1fr);
  align-items: center;
  
}

h1 {
  font-size: 3em;
}

span {
  color:aqua;
  
}

.download-cv{
  padding: 10px 20px;
  background-color: aqua;
  border: none;
  border-radius: 20px;
  margin-top: 10px;
  cursor: pointer;
  box-shadow: 1px 3px 11px -5px rgba(102, 231, 200, .69);
}

.download-cv:hover{
  background-color: #fff;
  box-sizing: none;
}

.main img{
  width: 850px;
  height: 520px;
  border: 3px solid aqua;
  
}

.about {
background-color:whitesmoke;
display: grid;grid-template-columns: repeat(10, 1fr);
width: 100vw;
align-items: center;
padding: 2em;
}

.about img{
  width: 70%;
  height: 90%;
  grid-column: 1/5;

}

.about-info{
  padding: 3em;
  grid-column:5/10;
  color: #191c31;
  font-size: 1.5em;
}

.about-info h2{
  font-size: 3em;
  color: #191c31;
}

.divider {
  height: 6px;
  width: 80px;
  background-color:  aqua;
  margin-top: 10px;
  margin-bottom: 1em;
}

.divider_1 {
  height: 4px;
  width: 100%;
  align-items: center;
  background-color:  aqua;
  border-radius: 5px;
}



.about p{
  margin-bottom: 1em;

}

.portfolio {
  width: 100vw;
  background-color: #191c32;
}

.portfolio-headings{
  width: 100vw;
  padding: 5em;
  
}

.portfolio-headings h2{
  font-size: 2.5em;
}

.portfolio .container{
  width: 80vw;
  height: 80vh;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  font-size: 1em;
   
}

.card_1{
  width: 300px;
  height: 450px;
  background-color: #123153;
  margin: 1em;
  border: 3px solid aqua;
  border-radius: 5px; 
  
}

.card_2{
  width: 300px;
  height: 450px;
  background-color: hsl(55, 8%, 28%);
  margin: 1em;
  border: 3px solid hwb(180 68% 29%);
  border-radius: 5px;
}

.card_3{
  width: 300px;
  height: 450px;
  background-color: hsl(184, 64%, 17%);
  margin: 1em;
  border: 3px solid #07e7a4;
  border-radius: 5px;
}

.card_title h2 {
  padding: 25px;
  font-size: 1.5em;
}

.card_title p {
  font-size: 1em;
  margin-bottom:1em;
  text-align: center;
}

.card_img_1 {
  width: 100%;
  height: 150px;
  background-image: url(../portfolio-tutorial-master/img/descarga1.jpg);
  background-size: cover;
  
}

.card_img_2 {
  width: 100%;
  height: 150px;
  background-image: url(../portfolio-tutorial-master/img/descarga.jpg);
  background-size: cover;
}

.card_img_3 {
  width: 100%;
  height: 150px;
  background-image: url(../portfolio-tutorial-master/img/descarga2.jpg);
  background-size: cover;
}

.card__projects_links {
  display: flex;
  justify-content: space-evenly;
  
}

.card__projects_links a {
  color: #fff;
  text-decoration: none  ;

}

.card__projects_links i {
  font-size:  1.5em;
}



.card_1 .Porject-details a {
  text-decoration: none;
  color: #191c32;
  
}
.card_2 .Porject-details a {
  text-decoration: none;
  color: #191c32;
  
}
.card_3 .Porject-details a {
  text-decoration: none;
  color: #191c32;
  
}

.proyect-details-content {
  display: flex;
  width: 100%;
  justify-content: center;
  margin-top: 1em;
}

